.DS_Store
delete/
challlenge_videos/
challlenge_videos.tar.xz
challenge_videos/video_1.mp4
challenge_videos/video_2.mp4
challenge_videos/video_3.mp4
challenge_videos/video_4.mp4
challenge_videos/video_5.mp4
challenge_videos/video_6.mp4
challenge_videos/video_7.mp4
challenge_videos/video_8.mp4
challenge_videos/video_9.mp4
challenge_videos/video_10.mp4
challenge_videos/video_11.mp4
challenge_videos/video_12.mp4
challenge_videos/test/test1.mp4
challenge_videos/test/video_1.mp4
challenge_videos.tar.xz
__pycache__